<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CDManagerDevEntities" connectionString="metadata=res://*/EntityFramework.CDManager.csdl|res://*/EntityFramework.CDManager.ssdl|res://*/EntityFramework.CDManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-DHFENH8M37V;initial catalog=CDManagerDev;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>